{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'css\2.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href= "{% static 'css/style.css' %}" />

    <title>Amazon Web-Scraper</title>
</head>
<body>

    <header>
        <div class="navbar">
            <div class="nav-logo border">
                <div class="logo">
                    <img src="{% static 'css\amazon_logo.png' %}" height="60px">
                </div>
            </div>

            <div class="nav-address border">
                <p class="add-first">Deliver to</p>
                <div class="add-icon">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="add-second">India</p>
                </div>
            </div>

            <div class="nav-search">
                <select class="search-select">
                    <option value="">All</option>
                </select>
                <form method="get" action="new.html" class="nav-search">
                    <label for="pro"></label>
                    <input type="text" name="pro" id="pro" value="{{ request.GET.pro }}" class="search-input">
                    <input type="submit" value="Submit" class="submit">
                </form>
                <!-- <input type="text" name="pro" id="pro"  class="search-input"> -->
                <!-- <input type="submit" value="Submit"> -->
                <!-- <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div> -->

                {% if items %}
                    {% for name, price, image in items %}

                    <div class="name">
                        <h3>{{name}}</h3>
                    </div>
                    
                    <div>
                        <h3>
                            <span>&#8377;</span>
                            {{price}}
                        </h3>
                    </div>

                    <div>
                        <img src="{{ image }}" style="width: 100px; height:100px;">
                    </div>
                        
                    {% endfor %}
                {% endif %}

            </div>

            <div class="nav-signin border">
                <p><span>Hello, sign in</span></p>
                <p class="nav-second">Account & Lists</p>
            </div>

            <div class="nav-returns border">
                <p><span>Returns</span></p>
                <p class="nav-second">& Orders</p>
            </div>

            <div class="nav-cart border">
                <i class="fa-solid fa-cart-shopping"></i>
                Cart
            </div>

        </div>

        <div class="panel">
            <div class="panel-all">
                <i class="fa-solid fa-bars"></i>
                All
            </div>

            <div class="panel-ops">
                <p>Fresh</p> 
                <p>Best Sellers</p> 
                <p>Gift Cards</p> 
                <p>Amazon miniTV</p> 
                <p>Sell</p> 
                <p>Buy Again</p> 
                <p>Browsing History</p> 
                <p>Grocery & Gourmet Foods</p> 
                <p>Health & Personal Care</p>                       
            </div>

            <div class="panel-deals">
                Shop deals in electronics
            </div>
        </div>
    </header>

    <div class="hero-section">
        <img src="{% static 'css\main.jpg' %}" height="600px" >
        <!-- <div class="hero-msg">
            <p>You are on amazon.com. You can also shop on Amazon India for millions of products with fast local delivery. <a href="#">Click here to go to amazon.in</a></p>
        </div> -->
    </div>

    <div class="shop-section">
        <div class="box1 box">
            <div class="box-content">
                <h2>Up to 50% off on Glucometers</h2>
                <div class="box-image">
                    <img src="{% static 'css\new1.jpg' %}" height="350px" width="98%">
                </div>
                <p class="see">See more</p>
            </div>
        </div>

        <div class="box2 box">
            <div class="box-content">
                <h2>Up to 70% off | Clearance store</h2>
                <div class="box-image">
                    <img src="{% static 'css\new2.jpg' %}" height="350px" width="98%">
                </div>
                <p class="see">See more</p>
            </div>
        </div>

        <div class="box3 box">
            <div class="box-content">
                <h2>Bluetooth Calling Smartwatch starts at ₹1,999</h2>
                <div class="box-image">
                    <img src="{% static 'css\new3.jpg' %}" height="350px" width="98%">
                </div>
                <p class="see">See more</p>
            </div>
        </div>

        <div class="box4 box">
            <div class="box-content">
                <h2>Home Decor</h2>
                <div class="box-image">
                    <img src="{% static 'css\new4.jpg' %}" height="350px" width="98%">
                </div>
                <p class="see">See more</p>
            </div>
        </div>
        <div class="box1 box">
            <div class="box-content">
                <h2>Earn Rewards</h2>
                <div class="box-image">
                    <img src="{% static 'css\new5.jpg' %}" height="350px" width="98%">
                </div>
                <p class="see">See more</p>
            </div>
        </div>

        <div class="box2 box">
            <div class="box-content">
                <h2>Flower Ceramic Vase</h2>
                <div class="box-image">
                    <img src="{% static 'css\new7.jpg' %}" height="350px" width="98%">
                </div>
                <p class="see">See more</p>
            </div>
        </div>

        <div class="box3 box">
            <div class="box-content">
                <h2>Paper Design</h2>
                <div class="box-image">
                    <img src="{% static 'css\new6.jpg' %}" height="350px" width="98%">
                </div>
                <p class="see">See more</p>
            </div>
        </div>

        <div class="box4 box">
            <div class="box-content">
                <h2>Flower Stick for Home</h2>
                <div class="box-image">
                    <img src="{% static 'css\new8.jpg' %}" height="350px" width="98%">
                </div>
                <p class="see">See more</p>
            </div>
        </div>
    </div>

    <footer>
        <div class="foot-panel1">
            Back to Top
        </div>

        <div class="foot-panel2">
            <ul>
                <p>Get to Know Us</p>
                <a href="" class="socials">About Us</a>
                <a href="" class="socials">Careers</a>
                <a href="" class="socials">Press Releases</a>
                <a href="" class="socials">Amazon Science</a>
            </ul>
            <ul>
                <p>Connect with us</p>
                <a href="https://www.facebook.com/AmazonIN" class="socials" target="_blank">Facebook</a>
                <a href="https://twitter.com/AmazonIN" class="socials" target="_blank">Twitter</a>
                <a href="https://www.instagram.com/amazondotin/" class="socials" target="_blank">Instagram</a>
            </ul>
            <ul>
                <p>Make Money with Us</p>
                <a href="" class="socials">Sell on Amazon</a>
                <a href="" class="socials">Sell under Amazon Accelerator</a>
                <a href="" class="socials">Protect and Build Your Brand</a>
                <a href="" class="socials">Become an Affiliate</a>
            </ul>
            <ul>
                <p>Let Us Help You</p>
                <a href="" class="socials">COVID-19 and Amazon</a>
                <a href="" class="socials">Returns Centre</a>
                <a href="" class="socials">100% Purchase Protection</a>
                <a href="" class="socials">Help</a>
            </ul>
        </div>

        <div class="foot-panel4">
            <div class="pages">
                <a>Conditions of Use</a>
                <a>Privacy Notice</a>
                <a>Your Ads Privacy Choices</a>
            </div>

            <div class="copyright">
                © 1996-2023, Amazon.com, Inc. or its affiliates
            </div>
        </div>
    </footer>

  

    

<!-- <div id="main">

    <h1>Search for the product</h1>
    <form method="get">
        <label for="pro"></label>
        <input type="text" name="pro" id="pro" value="{{ request.GET.pro }}">
        <input type="submit" value="Submit">
    </form>

    {% if items %}
        {% for name, price, image in items %}

        <div class="name">
            <h3>{{name}}</h3>
        </div>
        
        <div>
            <h3>
                <span>&#8377;</span>
                {{price}}
            </h3>
        </div>

        <div>
            <img src="{{ image }}" style="width: 100px; height:100px;">
        </div>
            
            
        {% endfor %}
    {% endif %}
</div> -->

</body>
</html>